.text-box-cont input[type="checkbox"] {
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.alert.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #f55564;
    width: 100%;
}
.overlay {
    width: 100%;
}

.overlay__inner {
    width: 100%;
}
.lang-drop.show ul {
    opacity: 1 !important;
    visibility: visible;
    display: block;
    top: 35px;
    width: 137px !important;
    min-width: 32px;
    border-radius: 5px;
}
.login_lang {
    position: fixed;
    top: 10px;
    right: 15px;
}
.dropdown.lang-drop button img {
    width: 30px;
}
.dropdown.lang-drop button,
.dropdown.lang-drop button:focus {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    color: #666;
    border: transparent;
    width: 137px;
}
.dropdown.lang-drop button::after {
    border-top-color: #666;
}
.login_lang ul.dropdown-menu li img {
    width: 30px;
}
.login_lang ul.dropdown-menu li a {
    font-size: 14px;
}
.login_lang ul.dropdown-menu li {
    padding-bottom: 10px;
    cursor: pointer;
}
.login_lang ul.dropdown-menu {
    padding: 10px 10px 5px 10px;
    margin-top: 0px;
}
.login-unput-feed .icon {
    position: absolute;
    top: 50%;
    right: 22px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    transform: translate(0, -50%);
}
.login-unput-feed {
    position: relative;
}
.login-bottom {
    display: none;
}

.mobile-email {
    display: none;
}

@media (min-width: 1024px) {
    .login-form .icon {
        display: none;
    }
}
@media (max-width: 767px) {
    .login-content {
        padding-top: 70px;
    }
    .dropdown.lang-drop button::after {
        border-top-color: #000 !important;
    }
    #dropdownMenuButton1 {
        border: 1px solid #000;
        color: #000;
    }
    .login-bottom {
        display: inline-block;
        color: #5e5e5e;
        font-size: 11px;
        font-family: 'Gellix', sans-serif;
        text-align: center;
        margin-top: 50px;
        width: 100%;
    }
    .login-bottom b {
        color: #000;
    }
    .login-con p {
        display: none;
    }
    .mobile-hidden {
        display: none;
    }
    .col-lg-6.col-md-6.log-det {
        margin-bottom: 0;
        height: 100vh;
        transform: translate(0px, -50%);
        top: 50%;
        overflow: hidden;
    }
    input.ng-invalid {
        border: 1px solid #e93608 !important;
    }
    form.ng-invalid span.error {
        margin-top: 10px;
        padding: 0px 17px;
        display: inline-block;
        text-align: left;
        width: 100%;
        color: #e93608;
        font-size: 14px;
    }
    .dropdown.lang-drop {
        display: none;
    }
    .log-det .text-box-cont .btn.btn-success {
        border-radius: 26px;
        background: #ffbe00;
        font-size: 16px;
        font-weight: normal;
        font-family: 'Gellix', sans-serif;
        box-shadow: none;
    }

    .log-det .text-box-cont .btn.btn-success:active,
    .log-det .text-box-cont .btn.btn-success:focus {
        background: #ffbe00 !important;
    }

    .forgot-password {
        border: 1px solid #d0d0cb;
        width: 100%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        display: inline-block;
        border-radius: 25px;
        color: #5e5e5e;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Gellix', sans-serif;
    }

    .mobile-email {
        border: 1px solid #d0d0cb;
        width: 100%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        display: inline-block;
        border-radius: 25px;
        color: #5e5e5e;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Gellix', sans-serif;
    }

    .ng-invalid + .icon img {
        transform: translate(0, -23px);
    }
    .login-logo {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .log-det h2 {
        font-size: 18px;
    }
    .login-form h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 24px;
        color: #000;
        font-family: 'Gellix', sans-serif;
        font-weight: normal;
    }
    .login-logo img {
        width: 96px;
    }
    .login-heading h2 {
        margin-top: 10px;
        color: #000;
    }
    .log-det .text-box-cont .btn {
        margin-bottom: 0;
    }
    .dropdown.lang-drop button,
    .dropdown.lang-drop button:focus {
        background: transparent;
        border-radius: 5px;
        padding: 5px;
        color: #fff;
        border: 1px solid #fff;
    }
    .dropdown.lang-drop button::after {
        border-top-color: #fff;
    }
}
