.text-box-cont input[type="checkbox"] {
    margin-right: 5px;
    position: relative;
    top: 1px;
}
@media(max-width:767px ){
.login-content {
    padding-top: 30px;}
}
.alert.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #f55564;
    width: 100%;
}
.overlay {
    width: 100%;
}

.overlay__inner {
    width: 100%;
}