.tasks-wrapper {
  width: 100%;
  min-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    min-width: 32px;
    line-height: 15px;
    right: -23px;
  }

  .kanban-board {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    overflow-x: auto;
    padding: 15px 18px;
    gap: 20px;

    @media screen and (max-width: 1370px) {
      -webkit-box-shadow: inset 0px 0px 1px 15px rgba(255, 255, 255, 1);
      -moz-box-shadow: inset 0px 0px 1px 15px rgba(255, 255, 255, 1);
      box-shadow: inset 0px 0px 1px 15px rgba(255, 255, 255, 1) !important;
    }
  }

  .kanban-block,
  .create-new-task-block {
    //padding: 0.6rem;
    width: 100%;
    min-width: 15rem;
    min-height: 4.5rem;
    border-radius: var(--vc-border-radius-light);
    @media screen and (max-width: 1370px) {
      width: 390px;
      min-width: 390px;
      -webkit-box-shadow: inset 0px 0px 1px 15px rgba(255, 255, 255, 1);
      -moz-box-shadow: inset 0px 0px 1px 15px rgba(255, 255, 255, 1);
      box-shadow: inset 0px 0px 1px 15px rgba(255, 255, 255, 1);
    }
  }

  .vc-card-shadow {
    background-color: #fff;
  }

  &__image {
    border-top-left-radius: var(--vc-border-radius-light);
    border-top-right-radius: var(--vc-border-radius-light);
  }

  &__card-bg {
    height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
    //padding: 0 10px;
    padding: 20px;

    border-radius: 0 0 10px 10px;
    background-color: var(--vc-color-dim-gray);

    .task {
      margin-bottom: 35px;

      .task-image-wrapper {
        position: static;
        width: 100%;
        height: 235px;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin-top: 5.5px;
        color: var(--vc-color-text-grey);
        margin-bottom: 6px;
        line-height: 20px;
      }
    }
  }

  &__done {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 24px 0px 25px 24px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--vc-color-pink);
  }

  &__in-progress {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 24px 0px 25px 24px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--vc-color-yellow);
  }

  &__completed {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 24px 0px 25px 24px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--vc-color-light-green);
  }

  &__body {
    padding: 12px 25px 16px 25px;
  }

  &__title {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0;
    color: var(--vc-color-darker-grey);
  }

  &__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 5.5px;
    color: var(--vc-color-text-grey);
    margin-bottom: 6px;
  }

  &__progress {
    color: #95a0c6;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .progress {
    height: 10px;
    border-radius: 20px;
  }

  &__done-progress {
    border-radius: 20px;
    background-color: var(--vc-color-grey-300);
  }

  &__In-progress {
    border-radius: 20px;
    background-color: var(--vc-color-yellow);
  }

  &__completed-progress {
    border-radius: 20px;
    background-color: var(--vc-color-green);
  }
}

.skeleton-card {
  height: auto;
  width: 406px;
  border-radius: 12px;
  box-shadow: var(--vc-box-shadow-light);
  background-color: var(--vc-color-white);
}

//::ng-deep .skeleton-loader.progress:before {
//    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6), rgba(0, 0, 0, .9));
//}

.cdk-drag-preview {
  .vc-card-shadow {
    transition: transform 0.3s ease-in-out;
    transform: scale(0.5);
  }

  .tasks-wrapper__body {
    background-color: var(--vc-color-white);
    border-radius: 0 0 var(--vc-border-radius) var(--vc-border-radius);
  }

  .task-image-wrapper {
    height: 235px;

    img {
      border-radius: var(--vc-border-radius) var(--vc-border-radius) 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}
