<div class="app-page-box">
  <vc-page-header [breadcrumbs]="breadCrumbItems" [headerTitle]="language.dashboard.download_app"> </vc-page-header>

  <h3>{{ language.dashboard.find_app }}</h3>
  <div class="app-img-part">
    <div>
      <img src="../../../../../assets/img/verein_cloud_app_home.svg" />
    </div>
    <div>
      <span>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.verein.cloud&pli=1">
          <img src="../../../../../assets/img/google-play.svg" />
        </a>
      </span>
      <span>
        <a target="_blank" href="https://apps.apple.com/de/app/verein-cloud/id6447562632">
          <img src="../../../../../assets/img/app-store.svg" />
        </a>
      </span>
    </div>
  </div>
</div>
