<div class="content create-component">
  <div class="mobile-back-main">
    <div class="back-button">
      <button type="button" (click)="navigation.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path
            d="M13.5 15L18.375 19.875C18.6042 20.1042 18.7188 20.3958 18.7188 20.75C18.7188 21.1042 18.6042 21.3958 18.375 21.625C18.1458 21.8542 17.8542 21.9687 17.5 21.9687C17.1458 21.9687 16.8542 21.8542 16.625 21.625L10.875 15.875C10.75 15.75 10.6617 15.6146 10.61 15.4687C10.5583 15.3229 10.5321 15.1667 10.5312 15C10.5312 14.8333 10.5575 14.6771 10.61 14.5312C10.6625 14.3854 10.7508 14.25 10.875 14.125L16.625 8.375C16.8542 8.14583 17.1458 8.03125 17.5 8.03125C17.8542 8.03125 18.1458 8.14583 18.375 8.375C18.6042 8.60417 18.7188 8.89583 18.7188 9.25C18.7188 9.60417 18.6042 9.89583 18.375 10.125L13.5 15Z"
            fill="#E93608"
          />
        </svg>
      </button>
    </div>
    <div class="mb-title">{{ language.create_message.title }}</div>
    <div class="empty-area">&nbsp;</div>
  </div>
  <div class="add_event_main event_main">
    <form [formGroup]="messageForm" (ngSubmit)="messageProcess()">
      <div class="row">
        <div class="col-md-12 add_event_content Payment_data_main create-news-main">
          <div class="page-heading page-heading-event">
            <!-- <h1>{{ language.create_message.title }}</h1> -->
            <vc-page-header [breadcrumbs]="breadCrumbItems" [headerTitle]="language.create_message.title">
              <div class="profile_sub_btn event_sub_btn">
                <button
                  type="submit"
                  class="save_btn"
                  [ngStyle]="{
                    'border-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    'background-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text
                  }"
                >
                  <span
                    ><span [ngStyle]="{ color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text }">{{ language.create_message.send }}</span>
                  </span>
                </button>
                <button
                  type="button"
                  (click)="onCancel()"
                  class="Cancel_btn"
                  [ngStyle]="{
                    'border-color': setTheme.default_status == true ? setTheme.cancel_button_bgcolor : setTheme.cancel_button_bgcolor,
                    'background-color': setTheme.default_status == true ? setTheme.cancel_button_bgcolor : setTheme.cancel_button_bgcolor,
                    color: setTheme.default_status == true ? setTheme.cancel_button_text : setTheme.cancel_button_text
                  }"
                >
                  <span
                    ><span [ngStyle]="{ color: setTheme.default_status == true ? setTheme.cancel_button_text : setTheme.cancel_button_text }">{{ language.create_news.cancel }}</span></span
                  >
                </button>

                <button
                  type="button"
                  (click)="close()"
                  class="save_btn draft"
                  [ngStyle]="{
                    'border-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    'background-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text
                  }"
                >
                  <span
                    ><span [ngStyle]="{ color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text }">{{ language.community_messages.drafts }}</span>
                  </span>
                </button>
              </div>
            </vc-page-header>
          </div>
          <div class="card body-bg create-event-main-box" [ngClass]="{ isLoading: isLoading }">
            <div class="card-body">
              <!-- profile details data start -->
              <div class="profile_details">
                <div class="row cm_row">
                  <div class="col-md-6">
                    <div class="news-dropdown">
                      <div class="multi_dropdown_main">
                        <span class="news-visible-dropdown">
                          <!-- <label>{{ language.create_message.visible }}</label> -->
                          <ng-multiselect-dropdown
                            formControlName="kind"
                            [placeholder]="language.create_message.visible"
                            [settings]="visiblityDropdownSettings"
                            [data]="visiblity"
                            (onSelect)="onVisiblitySelect($event)"
                            (onDeSelect)="onVisiblityDeSelect($event)"
                          >
                          </ng-multiselect-dropdown>
                          <label class="text-danger" *ngIf="messageSubmitted && messageForm.controls['kind'].errors">{{ language.error_message.common_required }}</label>
                        </span>
                      </div>
                    </div>
                    <div class="news-dropdown" *ngIf="personalVisiable && alluserDetails.length > 0">
                      <!-- <div class="news-dropdown" *ngIf="userDropdownList && userDropdownList.length > 0"> -->
                      <div class="multi_dropdown_main">
                        <!-- <label>{{ language.create_message.participantsto }}</label> -->
                        <ng-multiselect-dropdown
                          formControlName="receiver_id"
                          [placeholder]="language.create_message.participantsto"
                          [settings]="userDropdownSettings"
                          [data]="userDropdownList"
                          (onSelectAll)="onReceiverSelectAll($event)"
                          (onDeSelectAll)="onReceiverDeSelectAll($event)"
                          (onSelect)="onReceiverSelect($event)"
                          (onDeSelect)="onReceiverDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                        <label class="text-danger" *ngIf="messageSubmitted && messageForm.controls['receiver_id'].errors">{{ language.error_message.common_required }}</label>
                      </div>
                    </div>
                    <div class="news-dropdown" *ngIf="!clubVisiable && personalVisiable && alluserDetails.length > 0">
                      <div class="multi_dropdown_main">
                        <!-- <label>{{ language.create_message.participantscc }}</label> -->
                        <ng-multiselect-dropdown
                          formControlName="cc"
                          [placeholder]="language.create_message.participantscc"
                          [settings]="userDropdownCCSettings"
                          [data]="userDropdownCCList"
                          (onSelect)="onCCSelect($event)"
                          (onDeSelect)="onCCDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                        <label class="text-danger" *ngIf="messageSubmitted && messageForm.controls['cc'].errors">{{ language.error_message.common_required }}</label>
                      </div>
                    </div>
                    <div class="news-dropdown" *ngIf="groupVisiable && groups">
                      <div class="multi_dropdown_main">
                        <!-- <label>{{ language.create_message.participantsto }}</label> -->
                        <ng-multiselect-dropdown
                          formControlName="kind_id"
                          [placeholder]="language.create_message.participantsto"
                          [settings]="groupDropdownSettings"
                          [data]="groups"
                          (onSelect)="onKindIdSelect($event)"
                          (onDeSelect)="onKindIdDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                        <label class="text-danger" *ngIf="messageSubmitted && messageForm.controls['kind_id'].errors">{{ language.error_message.common_required }}</label>
                      </div>
                    </div>
                    <div class="event_field">
                      <!-- <label>{{ language.create_message.subject }}</label> -->
                      <input type="text" formControlName="subject" placeholder="{{ language.create_message.subject_placeholder }}" />
                      <label class="text-danger" *ngIf="messageSubmitted && messageForm.controls['subject'].errors">{{ language.error_message.common_required }}</label>
                    </div>
                    <div class="event_field task_area_field">
                      <!-- <label>{{ language.create_message.content }}</label> -->
                      <textarea formControlName="content" placeholder="{{ language.create_message.content_placeholder }}"></textarea>
                      <label class="text-danger" *ngIf="messageSubmitted && messageForm.controls['content'].errors">{{ language.error_message.common_required }}</label>
                    </div>
                    <div class="message-upload-list" style="display: none">
                      <label class="preview_txt" style="display: none"></label>
                    </div>
                    <div class="message_upload create_upload_event">
                      <input type="file" (change)="uploadFile($event)" id="add_docfile" accept="/" />
                      <span class="message_upload_overlay">
                        <div class="upload_label">
                          <div class="up_text">
                            {{ language.create_message.add_file }}<span>({{ language.create_message.max }}20Mb)</span>
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="event_field all_participants create_msg_main" *ngIf="receipientUsers.length > 0">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">{{ language.create_group.all_participants }}</h5>
                        </div>
                        <div class="card-body">
                          <!-- appointment inner -->
                          <div class="widget-appointment widget" *ngIf="receipientUsers">
                            <div class="widget-app-content" *ngFor="let touser of receipientUsers">
                              <div class="app-left-content">
                                <div class="author-img">
                                  <img onContextMenu="return false;" [src]="'assets/img/defaultProfile.jpeg'" style="width: 100px" alt="" loading="lazy" />
                                </div>
                                <div class="user-content">
                                  <span class="user-name">{{ touser.groupusers[0].firstname }} {{ touser.groupusers[0].lastname }}</span>
                                  <span class="participant_email">{{ touser.groupusers[0].email }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- appointment inner end -->
                        </div>
                      </div>
                    </div>
                    <div class="event_field all_participants create_msg_main" *ngIf="receiverUser.length > 0 || ccUser.length > 0">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">{{ language.create_group.all_participants }}</h5>
                        </div>
                        <div class="card-body" *ngIf="receiverUser.length > 0">
                          <!-- appointment inner -->
                          <div class="card-header"></div>
                          <div class="widget-appointment widget">
                            <h5 class="card-title message-recipent" *ngIf="receiverUser.length > 0">
                              {{ language.create_message.participantsto }}
                            </h5>
                            <div class="widget-app-content" *ngFor="let touser of receiverUser">
                              <div class="app-left-content">
                                <div class="author-img">
                                  <img onContextMenu="return false;" [src]="alluserInformation[touser]?.image ? alluserInformation[touser].image : 'assets/img/defaultProfile.jpeg'" style="width: 100px" alt="" loading="lazy" />
                                </div>
                                <div class="user-content">
                                  <span class="user-name">{{ alluserInformation[touser].firstname }} {{ alluserInformation[touser].lastname }}</span>
                                  <span class="participant_email">{{ alluserInformation[touser].email }}</span>
                                </div>
                              </div>
                            </div>
                            <h5 class="card-title message-recipent" *ngIf="ccUser.length > 0">
                              {{ language.create_message.participantscc }}
                            </h5>
                            <div class="widget-app-content" *ngFor="let touser of ccUser">
                              <div class="app-left-content">
                                <div class="author-img">
                                  <img onContextMenu="return false;" [src]="alluserInformation[touser]?.image ? alluserInformation[touser].image : 'assets/img/defaultProfile.jpeg'" style="width: 100px" alt="" loading="lazy" />
                                </div>
                                <div class="user-content">
                                  <span class="user-name">{{ alluserInformation[touser].firstname }} {{ alluserInformation[touser].lastname }}</span>
                                  <span class="participant_email">{{ alluserInformation[touser].email }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- appointment inner end -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile details data End -->
              <div class="profile_sub_btn event_sub_btn mobile">
                <button
                  type="submit"
                  class="save_btn"
                  [ngStyle]="{
                    'border-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    'background-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text
                  }"
                >
                  <span
                    ><span [ngStyle]="{ color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text }">{{ language.create_message.send }}</span>
                  </span>
                </button>
                <button
                  type="button"
                  (click)="onCancel()"
                  class="Cancel_btn"
                  [ngStyle]="{
                    'border-color': setTheme.default_status == true ? setTheme.cancel_button_bgcolor : setTheme.cancel_button_bgcolor,
                    'background-color': setTheme.default_status == true ? setTheme.cancel_button_bgcolor : setTheme.cancel_button_bgcolor,
                    color: setTheme.default_status == true ? setTheme.cancel_button_text : setTheme.cancel_button_text
                  }"
                >
                  <span
                    ><span [ngStyle]="{ color: setTheme.default_status == true ? setTheme.cancel_button_text : setTheme.cancel_button_text }">{{ language.create_news.cancel }}</span></span
                  >
                </button>

                <button
                  type="button"
                  (click)="close()"
                  class="save_btn draft"
                  [ngStyle]="{
                    'border-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    'background-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                    color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text
                  }"
                >
                  <span
                    ><span [ngStyle]="{ color: setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text }">{{ language.community_messages.drafts }}</span>
                  </span>
                </button>

                <!-- <button type="button" (click)="close()" class="save_btn"
                                    [ngStyle]="{'border-color': setTheme.default_status == true ? setTheme.cancel_button_bgcolor : setTheme.cancel_button_bgcolor,
                                        'background-color': setTheme.default_status == true ? setTheme.cancel_button_bgcolor : setTheme.cancel_button_bgcolor,
                                        'color': setTheme.default_status == true ? setTheme.cancel_button_text : setTheme.cancel_button_text}">
                                    <span><span [ngStyle]="{'color': setTheme.default_status == true ? setTheme.cancel_button_text : setTheme.cancel_button_text}">{{language.community_messages.drafts}}</span></span>
                                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
