<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 create_faq Payment_data_main">
                <div class="all_btn_group btn_collapse">
                    <div class="panel_heading">
                        <h3>Create FAQs</h3>
                    </div>
                </div>
                <div class="card" >
                    <div class="card-body p-20">
                        <!-- profile header start -->
                        <!-- <div class="profile_main_head">
                            <div class="profile_title">Create Faqs</div>
                        </div> -->
                <div class="alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div>
                        <form [formGroup]="FAQForm" (ngSubmit)='createFAQ()'>
                            <!-- profile header end -->
                            <!-- profile details data start -->
                            <div class="profile_details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="event_field">
                                            <label>Title</label>
                                            <input formControlName="title" type="text" placeholder="Add a Title">
                                            <span class="text-danger" *ngIf="FAQSubmit || FAQForm.controls['title'].touched">
                                                <span *ngIf="FAQForm.controls['title'].errors">{{language.error_message.common_required}}</span>
                                            </span>
                                        </div>
                                        <div class="news-dropdown">
                                            <div class="event_field" *ngIf="catListArray.length > 0">
                                                <label>Select Category</label>
                                                   <!-- <option selected="">Lorem Ipsum</option> -->
                                                <ng-multiselect-dropdown formControlName="category"
                                                   [ngClass]="{ 'is-invalid': FAQSubmit && FAQForm.controls.category.errors }"
                                                   [placeholder]="language.create_news.category"
                                                   [settings]="categoryDropdownSettings"
                                                   [data]="catListArray"
                                                   (onSelect)="onCategoryItemSelect($event)"
                                                   (onDeSelect)="onCategoryItemDeSelect($event)">
                                               </ng-multiselect-dropdown>
                                            
                                                <span class="text-danger" *ngIf="FAQSubmit || FAQForm.controls['category'].touched">
                                                    <span *ngIf="FAQForm.controls['category'].errors">{{language.error_message.common_required}}</span>
                                                </span>
                                             </div>
                                             <div class="event_field" *ngIf="positionList.length > 0">
                                                <label>Position</label>
                                                <ng-multiselect-dropdown formControlName="position"
                                                    [ngClass]="{ 'is-invalid': FAQSubmit && FAQForm.controls.position.errors }"
                                                    [placeholder]="language.header.position"
                                                    [settings]="positionDropdownSettings"
                                                    [data]="positionList"
                                                    (onSelect)="onPositionItemSelect($event)"
                                                    (onDeSelect)="onPositionItemDeSelect($event)">
                                                </ng-multiselect-dropdown>
                                
                                                <span class="text-danger" *ngIf="FAQSubmit || FAQForm.controls['position'].touched">
                                                    <span *ngIf="FAQForm.controls['position'].errors">{{language.error_message.common_required}}</span>
                                                </span>
                                             </div>
                                        </div>
                                        <div class="event_field task_area_field">
                                            <label>Description</label>
                                            <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
                                            <span class="text-danger" *ngIf="FAQSubmit || FAQForm.controls['description'].touched">
                                                <span *ngIf="FAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                            </span>
                                            <!-- <textarea placeholder="Write your content"></textarea> -->
                                        </div>
                                </div>
                                 
                                <div class="col-md-6">
                                    <div class="event_field">
                                        <label>Upload Document (Optional)</label>
                                        <div class="event_upload news_pic_upload">
                                            <label class="preview_txt" style="display: none;"></label>
                                            <input type="file" (change)="uploadFile($event)" id="image">
                                            <span class="event_uplod_overlay">
                                                <label *ngIf="docErrorMsg && errorFile.isError" class="text-danger">{{language.create_message.file_size }}</label>
                                                <label *ngIf="imgErrorMsg && errorFile.isError" class="text-danger">{{language.create_message.image_size }}</label>
                                                <img class="preview_img" src="assets/img/event_upload.png">
                                            </span>
                                        </div>
                                        <!-- <span class="text-danger" *ngIf="FAQSubmit || FAQForm.controls['description'].touched">
                                            <span *ngIf="FAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                        </span> -->
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- profile details data End -->
                    <div class="profile_sub_btn event_sub_btn ">
                        <button type="button "class="Cancel_btn"  routerLink="/vereins-faq">Cancel</button>
                        <button type="submit " class="save_btn ">Save & Update</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>