.panel_heading h3{
    font-size: 20px;
    color: #424D5C;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: 'poppinssemibold';
    margin-bottom: 20px;
}
.card-body.p-20{padding:30px !important;}