.list-view-layout-for-group-event {
  .vc-card-shadow {
    background-color: var(--vc-color-white);
  }
  .vc-date {
    color: #555;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    font-weight: 600;
  }
  .vc-time {
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
  }
  .vc-title {
    font-size: 14px;
    color: #555;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
  }
  .event-link {
    color: var(--vc-color-dark-pink);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }
}

.list-view-layout-for-group-event .align-items-center > div {
  width: 20%;
}
