/* new design css start */

.active-survey-data thead tr th {
  padding: 20px 35px !important;
  background: #eaedf5;
  color: #98a5c6;
  text-transform: uppercase;
  font-family: 'Gellix', sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

.active-survey-data thead tr th:first-child {
  border-top-left-radius: 20px;
}

.w-news-dialog {
  padding: 37px 95px 20px;
  max-height: 80vh;
  overflow: auto;
}

table.table.active-survey-data th:last-child:after {
  display: none;
}

.instructor-m-description {
  position: relative;
}

.ins-description {
  padding: 12px 25px;
}

.custom-control.custom-radio {
  display: flex !important;
  align-items: center;
}

.custom-control.custom-radio input {
  position: absolute;
}

.custom-control.custom-radio label {
  padding-left: 34px !important;
  margin-bottom: 0;
}

.survery-box-bottom h3 {
  color: #555;

  font-family: Gellix;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ins-description h3 {
  color: #353535;

  font-family: Gellix;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.ins-description p {
  color: #565656;

  font-family: Gellix;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.instructor-m-description {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

::ng-deep .cdk-overlay-pane .mat-dialog-container {
  border-radius: 30px;
  border: 1px solid #bdbdbd;
  background: #f2f2f5 !important;
  max-width: 635px !important;
  overflow: hidden;
  /* 
  max-height: 650px; */
  /* min-width: 635px; */
}

.left-popup {
  display: flex;
  gap: 12px;
}

.pop-bottom > div > div label {
  color: #bdbdbd;
  font-family: 'Gellix', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.small-box-popup h5 {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.small-box-popup .modal-dialog.modal-dialog-centered .modal-content .modal-body {
  max-width: 460px !important;
  min-width: auto;
}

.pop-bottom > div > div span {
  color: #bdbdbd;
  text-align: justify;
  font-family: 'Gellix', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  display: inline-block;
}

.pop-bottom > div > div {
  line-height: 10px;
}

.img-profile {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50px;
  background: #fff;
  overflow: hidden;
}

.pop-bottom {
  padding: 20px 0px;
  width: 100%;
}
.pop-bottom > div {
  border-top: 1px solid #bdbdbd;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructor-modal-content {
  min-width: 400px;
}

::ng-deep .modal-backdrop {
  z-index: 0 !important;
}

.box-img-survey {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ins-image {
  display: flex;
  align-items: center;
  height: 232px;
  /* overflow: hidden; */
  border-radius: 15px 15px 0 0;
  justify-content: center;
}

.ins-image .arrow {
  position: absolute;
  left: -32px;
  cursor: pointer;
}
.ins-image .arrow.right-arrow {
  left: auto;
  right: -50px;
}

.active-survey-data thead tr th:last-child {
  border-top-right-radius: 20px;
}

table.table.active-survey-data th:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 25px;
  background: #fff;
  display: inline-block;
  top: 20px;
}

table.table.active-survey-data td {
  font-weight: 600;
  font-size: 14px;
  padding: 20px 35px;
  font-family: 'Gellix', sans-serif;
}

td.survey-title {
  color: #414141;
  font-weight: 700 !important;
}

td.crm-author {
  color: #9eacc1;
}

td.active-from {
  color: #647895;
}

table.table.active-survey-data tr th span {
  display: flex;
  align-items: center;
}

.mat-progress-bar {
  height: 13px;
  border-radius: 25px;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #e8e5ff;
}

/* ::ng-deep .mat-progress-bar-fill::after {
  background-color: #fbc52d;
} */
::ng-deep .green-progress .mat-progress-bar-fill::after {
  background-color: #41ae4c;
}
::ng-deep .yellow-progress .mat-progress-bar-fill::after {
  background-color: #fbc52d;
}

td.remaining-time div span {
  width: 52px;
  margin-left: 15px;
}

td.remaining-time div {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 800;
  color: #647895;
}

table.table.active-survey-data.table-responsive thead th {
  width: 25%;
}

/* table.table.active-survey-data.table-responsive tbody td:last-child {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */
td.crm-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.survey-tabs-wrapper .card {
  border-radius: 20px;
  box-shadow: none;
  padding: 35px 25px;
}

@media only screen and (max-width: 1024px) {
  .survey-tabs-wrapper .col-md-12 {
    padding: 0;
  }

  .survey-tabs-wrapper .card {
    padding: 0;
  }
}

.survey-title-new p {
  margin-bottom: 0 !important;
}

td.crm-author img {
  width: 29px;
  height: 29px;
}

td.remaining-time div span {
  width: 117px;
}

.table-responsive-new {
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

.table-responsive-new td {
  border-bottom: 1px solid #dee2e6;
}

td.remaining-time div span {
  text-align: center;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .instructor-m-description {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .instructor-m-description .ins-description {
  padding: 12px 25px;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .instructor-m-description .ins-description h3 {
  margin-bottom: 12px;
  color: #353535;

  font-family: Gellix;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.voting-options form > div {
  border-bottom: 1px solid #ece6e6;
  padding: 13px 0;
}
.voting-options form > div input {
  position: absolute;
  z-index: 5;
  width: 22px;
  height: 22px;
  opacity: 0;
}

.voting-options form > div label {
  position: relative;
}

.voting-options form > div label::before {
  width: 22px;
  height: 22px;
  border-color: #dc5a5c;
}

.survery-box-bottom .voting-options input + label:after {
  content: '';
  width: 22px;
  height: 22px;
  background: #fff !important;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  transition: all 0.2s ease;
  border: 1px solid #dc5a5c;
}

.survery-box-bottom .voting-options input:checked + label:after {
  content: '';
  width: 22px;
  height: 22px;
  background: #41ae4c;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  transition: all 0.2s ease;
  background: #41ae4c url(../../../../../../assets/img/check.svg) no-repeat center !important;
  border: 1px solid #41ae4c;
}

.survery-box-bottom.result-first .voting-options label {
  color: #999;

  font-family: Gellix;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.voting-options form > div:last-child {
  border: none;
}

.survery-box-bottom .voting-options label {
  color: #999;
  font-family: Gellix;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  height: 21px;
  padding-left: 36px;
}

.survery-box-bottom.result-first.result-last ul {
  padding: 0;
  margin-bottom: 0px;
}

.survery-box-bottom.result-first.result-last ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f4f2f2;
  padding: 12px 0;
}

.survery-box-bottom.result-first.result-last ul li:last-child {
  border: none;
}

.survery-box-bottom.result-first.result-last ul li h4 {
  margin-bottom: 0px;
  color: #414141;

  font-family: Gellix;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.survery-box-bottom.result-first.result-last ul li span {
  color: #647895;

  text-align: right;
  font-family: Gellix;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.survery-box-bottom.result-first.result-last ul li > div {
  width: 100%;
  max-width: 180px;
}

.survery-box-bottom .voting-options input:checked + label {
  color: #999;
}

.survery-box-bottom .custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 0;
}

.survery-box-bottom {
  margin-top: 25px;
}

.survery-box-bottom h3 {
  color: #555;

  font-family: Gellix;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .instructor-m-description .ins-description p {
  color: #565656;

  font-family: Gellix;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .instructor-m-description .ins-image img {
  width: 100%;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .modal-dialog {
  max-width: 635px !important;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .modal-content {
  max-width: 635px;
  padding: 35px 95px;
}

.servey-pop.modal.fade.change_pass_section.faq_edit.all_news.show .modal-content .modal-body {
  padding: 0px;
}

.voting-options {
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 14px 22px;
}

.img-profile img {
  height: 100%;
}
