
<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 add_event_content group_detail_section">
                <div class="card">
                    <div class="card-body">
                        <div class="profile_details" *ngIf="groupDetails">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group_detail_main">
                                        <div class="group_img_sec">
                                            <div class="group_detail_img">
                                                <img *ngIf="groupDetails.image != '' || groupDetails.image != null" src="{{groupDetails.image}}">
                                                <img *ngIf="groupDetails.image =='' || groupDetails.image == null" src="../../assets/img/no_image.png">
                                                <!-- <img [src]="groupDetails.image!=''? 'groupDetails.image' : '../../assets/img/no_image.png'"> -->
                                                <!-- <img [src]="(groupDetails.image!='' || groupDetails.image!= 'null') ? groupDetails.image : '../../assets/img/no_image.png'"> -->
                                            </div>
                                            <div class="membar_count">{{groupDetails.participantsCount}} {{language.community_groups.participants}}
                                            </div>
                                            <div class="dropdown action_group">
                                                <button class="dropdown-toggle" type="button" (click)="onShow()">
                                                    <i class="nc-icon nc-bullet-list-67"></i>
                                                </button>
                                                <ul class="dropdown-menu bunch_drop" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" *ngIf="groupDetails && groupAction=='1'" (click)="leaveGroup(groupDetails.id)">{{language.community_groups.leave_group}}</a></li>
                                                    <li><a class="dropdown-item" *ngIf="groupDetails && groupAction=='0'" (click)="joinGroup(groupDetails.id)">{{language.community_groups.join_group}}</a></li>
                                                    <li *ngIf="groupDetails && groupDetails.created_by == userId || userDetails.isAdmin">
                                                        <a class="dropdown-item" routerLink="/update-group/{{groupDetails.id}}">{{language.community_groups.Edit_group}}</a>
                                                    </li>
                                                    <li><a class="dropdown-item" (click)="goBack()">{{language.community_groups.Back}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="group_detail_content">
                                            <div class="group_title">
                                                <span class="">{{groupDetails.name}}</span>
                                            </div>
                                            <div class="group_description" [innerHTML]="groupDetails.description"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 all_participants">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h5 class="card-title">{{language.community_groups.all_participants}}</h5>
                                        </div>
                                        <div class="card-body ">
                                            <!-- appointment inner -->   <div class="widget-appointment widget" *ngFor="let participant of groupDetails.participants ; let i = index">
                                               
                                                <div class="widget-app-content" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getMemId(participant.id)">
                                                    <div class="app-left-content">
                                                        <div class="parti_name" *ngIf="participant.imagePro == null || participant.imagePro == ''">{{participant.groupusers[0]?.firstname.charAt(0)}}{{participant.groupusers[0]?.lastname.charAt(0)}} </div>

                                                        <div  class="author-img" *ngIf="participant.imagePro != null"><img   [src]="participant.imagePro" style="width: 100px;"></div>

                                                        <div class="user-content">
                                                            <span class="user-name">{{participant.groupusers[0]?.firstname}}
                                                                {{participant.groupusers[0]?.lastname}}</span>
                                                            <span class="participant_email">{{participant.groupusers[0]?.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <span class="participant_status" *ngIf="participant.approved_status == 1">
                                                            <span class="status_badge approved"></span> {{language.community_groups.approved}}
                                                        </span>
                                                        <span class="participant_status" *ngIf="participant.approved_status == 0">
                                                            <span class="status_badge pending"></span> {{language.community_groups.pending}}
                                                        </span>
                                                    </div>
                                                </div>
                
                                            </div>
                                         
                                            <!-- appointment inner end -->
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="showGroupNews == 0">
                                        <img src="assets/img/no-event-img.png"><br>
                                        <span>{{language.community_groups.no_news}}123</span>
                                    </div> -->
                                </div>

                                <div class="modal fade change_pass_section" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog"> 
                                        <div id="profileSpinner" class="overlay__content"><span class="spinner"></span></div>
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{language.profile.member_profile}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="nc-icon nc-simple-remove"></i></button>
                                            </div>
                                            <div class="empty-data-image" *ngIf="displayError == true"><img src="assets/img/no-event-img.png"><br><span>{{language.profile.member_not_found}}</span></div>

                                            <div class="modal-body">

                                                <div >
                                                    <div class="card-body" >
                                                        <!-- profile header start -->
                                                        <div class="profile_main_head"  >
                                                            <div class="profile_header">
                                                                <div class="user-pic-inner">
                                                                    <img *ngIf="thumbnail == null" src="assets/img/defaultProfile.jpeg">
                                                                    <img *ngIf="profile_data && thumbnail" [src]="thumbnail">
                                                                    <!-- <img *ngIf="memberPhoto && thumbnail" [src]="thumbnail"> -->
                                                                </div>
                                                                <div class="user_pro_info">
                                                                    <h3 class="user_name" *ngIf="profile_data">{{profile_data.firstName}} {{profile_data.lastName}} </h3>
                                                                    <h4 class="user_name" *ngIf="getclubInfo">{{getclubInfo.name}} </h4>
                                                                    <span class="user-designation" *ngIf="profile_data">{{profile_data.userRole}}</span>
                                                                </div>
                                
                                                            </div>
                                                            <!-- profile header end -->
                                                            <!-- profile details data start -->
                                                            <div class="profile_details">
                                                                <div class="profile_title">{{language.profile.personal_data}}</div>
                                                                    <div class="col-md-6">
                                                                        <div class="profile_field info_field">
                                                                            <span class="info_label">{{language.profile.city}}</span>
                                                                            <span class="info_detail" *ngIf="profile_data">{{profile_data.city}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6" *ngIf="birthdateStatus == true">
                                                                        <div class="profile_field info_field">
                                                                            <span class="info_label">{{language.profile.dob}}</span>
                                                                            <span class="info_detail" *ngIf="profile_data">{{profile_data.birthDate| date: 'd MMM y'}}</span>
                                                                            <!-- <span class="info_detail" *ngIf="profile_data">{{profile_data.birthDate}}</span> -->
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                            <!-- profile details data End -->
                                                            <div class="profile_details" *ngIf="memberStartDateStatus">
                                                                <div class="profile_title" >{{language.profile.club_data}}</div>
                                                                <div class="row">
                                                                    <div class="col-md-6" >
                                                                
                                                                        <div class="profile_field info_field">
                                                                           <span class="info_label">{{language.profile.membership_date}}</span>
                                                                           <span class="info_detail" *ngIf="profile_data">{{profile_data.membershipStartDate| date: 'd MMM y'}}</span>
                                                                       </div>
                                                                    </div>
                                                               
                                                                </div>
                                                            </div>
                                                            <div *ngIf="profile_data">
                                                                <div class="row" *ngFor="let key of profile_data.currentFunctions">                               
                                                                    <div class="col-md-6">  
                                                                        <div class="profile_field info_field">      
                                                                        <span class="info_label">{{language.profile.current_functions}}</span>          
                                                                        <span class="info_detail">{{key.function}}</span>
                                                                        </div>
                                                                    </div>
                            
                                                                    <div class="col-md-6">      
                                                                        <div class="profile_field info_field">  
                                                                        <span class="info_label">{{language.profile.since}}</span>
                                                                        <span class="info_detail">{{key.since | date: 'd MMM y'}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 group_grid_main">
                                    <div class="card" *ngIf="groupNewsDetails.length > 0">
                                        <div class="card-header">
                                            <h5 class="card-title">{{language.community_groups.group_news}}</h5>
                                        </div>

                                        <div class="paginationHead full_width" *ngIf="newsTotalRecords > 8">
                                            <div class="pagintHeadLeft">
                                                <pagination-controls (pageChange)="pageChanged($event);" autoHide="true" previousLabel="{{language.pagination.previous}}"
                                                nextLabel="{{language.pagination.next}}"></pagination-controls>
                                            </div>
                                            <div class="searchRefine">
                                                <span>{{language.pagination.go_to_page}} <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)"></span>
                                                <span>{{language.pagination.limit_per_page}}
                                                    <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
                                                        <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">{{limitValue.value}}</option>
                                                    </select>
                                                </span>
                                                <div class="pagintHeadRight text-center">
                                                {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to {{ (currentPageNmuber * itemPerPage) > newsTotalRecords ? newsTotalRecords : (currentPageNmuber * itemPerPage) }} of {{ newsTotalRecords | number }} {{language.header.news}}
                                            </div>
                                            </div>
                                        </div>

                                        <div class="card-body group_detail_l">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let news of groupNewsDetails | paginate: {
                                                    itemsPerPage: itemPerPage,
                                                    currentPage: currentPageNmuber,
                                                    totalItems: newsTotalRecords }">
                                                    <div class="news-widget">
                                                        <div class="news-image">
                                                            <a routerLink="/clubnews/{{news.id}}">
                                                                <!-- <img [src]="news.imageUrls!=''? news.imageUrls : '../../assets/img/damir-bosnjak.jpg'"> -->
                                                                <img *ngIf="news.imageUrls!= null" src="{{news.imageUrls}}">
                                                                <img *ngIf="news.imageUrls! == null" src="../../assets/img/no_image.png">
                                                            </a>
                                                        </div>
                                                        <div class="news-content">
                                                            <span class="author-date">{{news.user.firstname}}
                                                            {{news.user.lastname}}</span>
                                                            <a routerLink="/clubnews/{{news.id}}">
                                                                <h5 class="news-content-heading" [innerHTML]="news.title"></h5>
                                                            </a>
                                                            <p class="news_author_desc news-content-text" [innerHTML]="news.headline"></p>
                                                        </div>
                                                        <div class="card-footer">
                                                            <hr>
                                                            <div class="group_rm">
                                                                <a routerLink="/clubnews/{{news.id}}">{{language.community_groups.read_more}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="showGroupNews == 0">
                                                <img src="assets/img/no-event-img.png"><br>
                                                <span>{{language.community_groups.no_news}}</span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>