@media only screen and (max-width: 360px) {
  .sidebar .nav li > a,
  .off-canvas-sidebar .nav li > a {
    padding: 15px 8px 15px 20px !important;
  }
}

.sidebar .nav p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-wrapper .nav li a svg {
  width: 24px;
}
li.parent-label.active ul {
  display: block;
}
/* club color sidebar */
.sidebar-wrapper.club2750 {
  background: #20ae80;
}

.sidebar-wrapper.club2830 {
  background: #0464b4;
}
.sidebar-wrapper .nav li a p span i {
  float: right;
  margin-right: 0;
  font-size: 18px;
}
.sidebar-wrapper .nav li.active a p span i {
  transform: rotate(90deg);
}
.sidebar-wrapper .nav li a p span {
  width: 100%;
  text-transform: capitalize;
}

.sidebar-wrapper .nav li ul li a span {
  text-transform: capitalize;
}
.sidebar-wrapper.club2830::-webkit-scrollbar-thumb {
  background-color: #134d9f !important;
  outline: 1px solid #134d9f !important;
}

.sidebar-wrapper.club2830 .nav li.active,
.sidebar-wrapper.club2830 .nav li:hover a {
  background-color: #134d9f;
}

.sidebar-wrapper.club2750 .nav li.active {
  background-color: #128f66;
  position: relative;
}

.sidebar-wrapper.club2750 .nav li:hover a {
  background-color: #128f66;
}
.sidebar-wrapper .nav li.active ul li a:after {
  content: '';
  background-image: none !important;
  position: relative;
  width: 0 !important;
  height: 0 !important;
}
i.fa.fa-paint-brush {
  font-size: 16px;
  margin: 0;
}
body.mat-typography .sidebar.sidebar-hr a.sidebar-expand .nav li ul li a {
  padding-left: 25px;
}
.sidebar-wrapper .nav li ul {
  padding-left: 0 !important;
}
.sidebar-wrapper .nav li.theme-menu ul li a {
  padding-left: 18px !important;
}
.sidebar-wrapper .nav li.active ul li a i {
  font-size: 15px !important;
}
.sidebar-wrapper .nav li.active ul li {
  background: transparent;
}
.sidebar-wrapper.club2830 .nav li a,
.sidebar-wrapper.club2830 .nav li.active a {
  color: #fff;
}

.sidebar-wrapper.club2750 .nav li.active > a,
.sidebar-wrapper.club2750 .nav li > a {
  color: #fff;
  font-weight: normal;
}

.sidebar-wrapper.club2750 .nav li a svg,
.sidebar-wrapper.club2830 .nav li a svg {
  stroke: #fff !important;
  fill: none !important;
}

.sidebar-wrapper.club2750 .nav li a.org_ic svg circle,
.sidebar-wrapper.club2750 .nav li a.mar_ic svg path,
.sidebar-wrapper.club2830 .nav li a.org_ic svg circle,
.sidebar-wrapper.club2830 .nav li a.mar_ic svg path {
  stroke: #fff !important;
}

.sidebar-wrapper.club2750 .nav li a.mar_ic svg path + path,
.sidebar-wrapper.club2750 .nav li a.first-ic svg path,
.sidebar-wrapper.club2830 .nav li a.mar_ic svg path + path,
.sidebar-wrapper.club2830 .nav li a.first-ic svg path {
  fill: #fff !important;
}

.sidebar-wrapper.club2750 .nav li a.second-ic svg path + path,
.sidebar-wrapper.club2830 .nav li a.second-ic svg path + path {
  fill: none !important;
}

.sidebar-wrapper.club2750 .nav li a.mar_ic svg circle,
.sidebar-wrapper.club2830 .nav li a.mar_ic svg circle {
  stroke: #fff !important;
}

.sidebar-wrapper.club2750 a.pro_ic svg path,
.sidebar-wrapper.club2830 a.pro_ic svg path {
  fill: #fff;
}

.sidebar-wrapper.club2750 a.wid_ic svg path,
.sidebar-wrapper.club2830 a.wid_ic svg path {
  stroke: #fff !important;
}

.sidebar-wrapper.club2750 a.market_place svg g path,
.sidebar-wrapper.club2830 a.market_place svg g path {
  fill: #fff !important;
}

.sidebar-wrapper.allClub a.market_place svg g path {
  fill: #9095b2 !important;
  stroke: #9095b2 !important;
}

.sidebar-wrapper.club2750 ul.nav hr,
.sidebar-wrapper.club2830 ul.nav hr {
  background: #fff;
}

.sidebar-wrapper.club2750 a.email_ic svg path,
.sidebar-wrapper.club2750 a.email_ic svg polyline,
.sidebar-wrapper.club2830 a.email_ic svg path,
.sidebar-wrapper.club2830 a.email_ic svg polyline {
  stroke: #fff;
  stroke: #fff;
}

a.email_ic svg path,
a.email_ic svg polyline {
  stroke: #9095b2;
}

/* club color sidebar end */
a.market_place svg g path {
  fill: rgb(144, 149, 178);
  stroke: rgb(144, 149, 178);
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li ul li a {
  padding-left: 54px !important;
  font-size: 17px;
  font-family: 'Gellix', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.sidebar.sidebar-hr a.sidebar-expand .sidebar-wrapper .nav li ul li a svg {
  width: 25px;
}

.sidebar.sidebar-hr a.sidebar-expand .sidebar-wrapper .nav li ul li a svg.form-icon {
  width: 35px !important;
}
.sidebar .nav li.active > a {
  font-weight: 400 !important;
}
li.parent-label ul {
  display: none;
}

.sidebar-wrapper .nav li > ul > li.nav-item.active a {
  background: rgba(85, 85, 251, 0.5) !important;
}

.sidebar-wrapper .nav li > ul > li.nav-item.active:last-child a {
  border-radius: 0px 0px 15px 15px;
}

/* new design css start */

.sidebar .nav li {
  width: 60px;
  margin: 0 auto;
  display: inline-block;
}
.sidebar .nav li u li a {
  padding-left: 0px !important;
}
.sidebar .nav li a,
.sidebar .nav li a p {
  padding: 0px;
  height: 49px;
  width: 60px;
  gap: 10px;
}

::ng-deep body .sidebar .nav li ul li a p {
  padding: 15px !important;
}
.sidebar .nav {
  text-align: center;
}

@media screen (min-height: 920px) {
  .sidebar .nav {
    height: calc(100vh - 214px);
  }
  .sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav {
    height: calc(100vh - 231px);
  }
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav {
  text-align: left;
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li {
  width: 100%;
  height: 49px;
  align-items: center;
  justify-content: flex-start;
  display: inline;
}

.sidebar.sidebar-hr a.sidebar-expand .sidebar-wrapper .nav li ul li a svg.feather.feather-mail {
  width: 24px;
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li ul li a {
  padding-left: 26px !important;
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li a {
  padding: 0 0 0 24px !important;
  height: 49px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li.active a {
  background-color: rgb(84 84 251 / 20%);
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li.active a span {
  color: #fff !important;
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li a p {
  width: 100%;
}
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li a p span {
  padding-left: 8px;
}
.sidebar .nav li.parent-label.active,
.sidebar.sidebar-hr a.sidebar-expand:hover .sidebar-wrapper .nav li.parent-label.active a {
  height: auto !important;
}
span.shorting {
  width: 81% !important;
  display: inline-block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 6px;
  padding-left: 0 !important;
}
span.shorting + i {
  top: 8px;
}
@media only screen and (max-width: 990px) {
  .sidebar .nav li {
    width: 100%;
  }
  .sidebar .nav li a,
  .sidebar .nav li a p {
    width: 100% !important;
  }
  .sidebar .nav li a,
  .sidebar .nav li a {
    padding: 0 20px !important;
  }
  .sidebar .nav p {
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
  .sidebar-wrapper .nav li a svg {
    margin-right: 10px;
  }
}
