.title-btn-group button.disabled, .doc_upload_btn span.upload_ol {
    background: #fff;
    padding: 12px 20px;
    color: #677180;
    border: transparent;
    font-size: 14px;
    font-family: 'poppinssemibold';
    box-shadow: 0 6px 6px -7px rgb(0 0 0 / 15%);
}
.title-btn-group button.disabled{
    background: #fff;
    padding: 12px 20px;
    color: #677180;
}

.panel_heading h3{
    font-size: 20px;
    color: #424D5C;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: 'poppinssemibold';
    margin-bottom:20px;
}
.main-card{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    padding: 25px;
}
.title-btn-group.right-btn-group button {
    margin-right: 0px !important;
}
.feature_tab ul {
    padding: 0;
    background: transparent;
}
.feature_tab ul {
    margin-bottom: 0;
}
.feature_tab {
    border-bottom: 2px solid #C0CCDA;
}
.main-card .feature_tab ul li {
    padding-bottom: 8px;
}
.main-card .feature_tab ul li.active {
    position: relative;
}
.feature_tab ul li.active:before {
    background: #E12217;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
}
.accordion-button{
    position: relative;
}
.accordion-button::after {
    content: "\f078";
    position: absolute;
    font: normal normal normal 18px/1 FontAwesome;
    right: -50px;
    color: #677180;
    top: 15px;
  }
  .accordion-button.collapsed::after {
    content: "\f077";
    position: absolute;
    font: normal normal normal 18px/1 FontAwesome;
    right: -50px;
    color: #677180;
    top: 15px;
  }
  .faq-accordion .accordion-header a.accordion-button {
    font-size: 16px;
    font-family: 'poppinssemibold';
    width: 100%;
    padding:10px 0px;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}
.faq-accordion .accordion-header a.accordion-button span::first-letter {
    text-transform: capitalize;
    display: inline-block;
}
.faq-accordion .accordion-header{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.faq-accordion .accordion-item{
    border-bottom: 1px solid #bac4dd;
}
.faq-accordion .card-body {
    padding: 0.5rem 0px;
}
.m-4 {
    margin: 1.5rem 0rem!important;
}
.faq-accordion .card-body p{
color:#424D5C;
}
div#myAccordion {
    margin-bottom: 30px;
}
.title-btn-group.right-btn-group img {
    margin-right: 5px;
    margin-top: -2px;
}
.faq-actions {
    display: flex;
    top: 8px;
    position: relative;
    right: 25px;
}

.faq-actions a {
    padding-right: 10px;
    cursor: pointer;
}
.category-action {
    position: absolute;
    right: 30px;
}
.category-action.accordion-button i {
    color: #677180;
}
.main-card ::ng-deep .mat-tab-label {
    opacity: 1;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-content {
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #677180;
    
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-content a::first-letter {
    display: inline-block;
    text-transform: capitalize;
}
::ng-deep .mat-tab-labels .mat-tab-label-active .mat-tab-label-content{
    color: #E12217;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #E12217;
}
::ng-deep .mat-elevation-z4{
    box-shadow: none;
}
.faq_edit .modal-header {
    justify-content: space-between;
}
.faq_edit .modal-header h3{
    font-size: 20px;
    color: #424D5C;
    font-weight: normal;
    margin-bottom: 0 !important;
    margin-top: 0px;
    font-family: 'poppinssemibold';
    margin-bottom: 20px;
}
.faq_edit .modal-header button{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.faq_edit .modal-dialog {
    max-width: 750px;
}
.title-btn-group.right-btn-group button {
    margin-right: 0px !important;
}
.title-btn-group.right-btn-group img {
    margin-right: 10px;
    margin-top: -2px;
}
.category-content h5{
    font-size: 18px;
    font-family: 'Poppins';
    width: 100%;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.search_area .input-group-text {
    padding: 0;
}
.search_area .input-group-text button {
    height: 100%;
    background: #677180;
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #677180;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.search_area .input-group-append .input-group-text{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.search_area .input-group-text button i {
    padding-right: 5px;
    position: relative;
    top: 3px;
}
.search_area .input-group.no-border input {
    height: 45px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-color: transparent;
}
.search_area .input-group.no-border input:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #ced4da;
}
.search_area {
    margin-bottom: 20px;
}

@media only screen and (max-width:600px){
    .faq-actions{
        right: 17px;
    }
    div#tab1.m-4 {
        margin: 1.4rem 0rem !important;
    }
    .title-btn-group {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 767px){
.all_btn_group .title-btn-group button.selected {
    padding: 12px 20px;
}
}