



<div class="content" id="individualFAQ">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="panel_heading">
                <h3>Vereins FAQs</h3>
            </div>
            <div class="all_btn_group btn_collapse">
                <div class="all_btn_group btn_collapse">
                    <div class="title-btn-group">
                        <button type="button" class="selected">Faqs</button>
                        <button type="button" class="disabled" routerLink="/faq-category">Faq Category</button>
                        <!-- <button type="button" class="disabled" routerLink="/all-faq"> All FAQ's</button> -->
                    </div>
                    <div class="title-btn-group right-btn-group" *ngIf="userRole == 'admin'">
                        <button type="button" class="disabled" routerLink="/create-faq"><img src="assets/img/Paper_w.svg">&nbsp;Create Faq</button>
                            <div>     
                        </div>
                    </div>
                </div>
            </div>
            <!-- main content section start -->
            <div class="search_area">
                <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                    <div class="input-group no-border">
                        <input type="text"  class="form-control" formControlName="search" placeholder="{{language.header.search}}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <button><i class="nc-icon nc-zoom-split"></i>Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="main-card">
                <!-- tab html start -->
                <!-- <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div> -->
                <!-- <div class="search_area">
                    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                        <div class="input-group no-border">
                            <input type="text"  class="form-control" formControlName="search" placeholder="{{language.header.search}}">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <button><i class="nc-icon nc-zoom-split"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> 
                <div class="faq-accordion tab-content" id="searchId-one" *ngIf="searchData">           
                    <div class="m-4" id="tab1" > 
                        <div class="accordion" id="myAccordion" >
                                <div class="accordion-item" *ngFor="let item of searchData; let i = index"  >
                                    <h2 class="accordion-header" [attr.id]="'heading_'+ i"> 
                                            <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_'+i">
                                                <span>{{item.title}}</span>
                                            </a>
                                            <div class="faq-actions" *ngIf="userRole == 'admin'">
                                                <a data-bs-toggle="modal1" data-bs-target="#exModal1" (click)="editFAQById(item.id)">
                                                    <img src="../../assets/img/menu/edit.svg" />
                                                </a>
                                                <a (click)="deleteAFAQ(item.id)"><img src="../../assets/img/menu/trash.svg" /></a>
                                            </div>
                                    </h2>
                                    <div [attr.id]="'collapse_'+i" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                        <div class="card-body">
                                            <p>{{item.description}}</p>
                                            <div class="attach_btn ">
                                                <img src="../../../../assets/img/download_attach.svg"  >
                                                <a href="{{documentFile}}">{{language.create_event.view_attachment}} </a>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                        </div>
                        <div class="show_more_btn"><a><button class="red_more_btn" (click)="backToFaq()" >Back</button></a></div>
                    </div>
                </div>
                <div *ngIf="noSearchData == 1">
                    <h3>No FAQ's Available</h3>
                </div>-->
                    <mat-tab-group class="main-tab-group mt-2" id="mat-tabgroup">
                        <mat-tab *ngFor="let cat of categoryData; let i = index" >
                            <ng-template mat-tab-label><a (click)="getFaqByCategory(cat.id)">{{cat.category_title}}</a> 
                                <a class="material-icons" ></a>
                            </ng-template>
                            <div class="faq-accordion tab-content">           
                                <div class="m-4" id="tab1" > <!-- changes in id="tab1"-->
                                    <div class="accordion" id="myAccordion"  *ngIf="count > 0">
                                            <div class="accordion-item" *ngFor="let item of faqDataByCat; let i = index"  >
                                                <h2 class="accordion-header" [attr.id]="'heading_'+ i"> 
                                                        <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_'+i">
                                                            <span>{{item.title}}</span>
                                                            <!-- <div [attr.id]="'collapse_'+i" class="category-action">
                                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                            </div>		 -->
                                                        </a>
                                                        <div class="faq-actions" *ngIf="userRole == 'admin'">
                                                            <a data-bs-toggle="modal" data-bs-target="#exModal" (click)="editFAQById(item.id)">
                                                                <img src="../../assets/img/menu/edit.svg" />
                                                            </a>
                                                            <a (click)="deleteFAQ(item.id)"><img src="../../assets/img/menu/trash.svg" /></a>
                                                        </div>
                                                </h2>
                                                <div [attr.id]="'collapse_'+i" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                                    <div class="card-body">
                                                        <p>{{item.description}}</p>
                                                        <div class="attach_btn " *ngIf="documentFile">
                                                            <img src="../../../../assets/img/download_attach.svg"  >
                                                            <a href="{{documentFile}}">{{language.create_event.view_attachment}} </a>
                                                            <!-- <a target="_blank" href="{{documentFile}}">
                                                                <i class="fa fa-download" aria-hidden="true"></i> {{language.create_event.view_attachment}}
                                                            </a> -->
                                                        </div>

                                                    </div>
                                                </div> 
                                                <!-- <div class="category-action">
                                                    <a data-bs-toggle="modal" data-bs-target="#exModal" (click)="editFAQcategoryById(item.id)"><img
                                                            src="../../assets/img/menu/edit.svg" /></a>
                        
                                                    <a (click)="deleteCategory(item.id)"><img src="../../assets/img/menu/trash.svg" /></a>
                                                </div> -->
                                            </div>
                                    </div>
                                    <div *ngIf="count <= 0">
                                        <h3>No FAQ's Available on this Category</h3>
                                    </div>
                                    <div class="show_more_btn"><a><button class="red_more_btn" (click)="showAllFAQs()">Show All</button></a></div>
                                </div>
                            </div>
                    </mat-tab>

                </mat-tab-group>
                <!-- tab html end -->
            </div>
            <!-- main content section End -->
        </div>
    </div>
</div>
<div class="modal fade change_pass_section faq_edit all_news" id="exModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <!-- <div id="profileSpinner" class="overlay__content"><span class="spinner"></span></div> -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="editFaq">Edit FAQ's</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="nc-icon nc-simple-remove"></i></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
                <form [formGroup]="FAQForm" (ngSubmit)='editFAQ()'>
                    
                    <!-- profile header end -->
                    <!-- profile details data start -->
                    <div class="profile_details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="event_field">
                                    <label>Title</label>
                                    <input formControlName="title" type="text" placeholder="Add a Title">
                                    <span class="text-danger" *ngIf="FAQSubmit">
                                        <span *ngIf="FAQForm.controls['title'].errors">{{language.error_message.common_required}}</span>
                                    </span>
                                </div>
                                <div class="news-dropdown">
                                    <div class="event_field" *ngIf="catListArray.length > 0">
                                        <label>Select Category</label>
                                        <!-- <option selected="">Lorem Ipsum</option> -->
                                        <ng-multiselect-dropdown formControlName="category"
                                        [ngClass]="{ 'is-invalid': FAQSubmit && FAQForm.controls.category.errors }"
                                        [placeholder]="language.create_news.category"
                                        [settings]="categoryDropdownSettings"
                                        [data]="catListArray"
                                        (onSelect)="onCategoryItemSelect($event)"
                                        (onDeSelect)="onCategoryItemDeSelect($event)">
                                    </ng-multiselect-dropdown>
                                    
                                        <span class="text-danger" *ngIf="FAQSubmit">
                                            <span *ngIf="FAQForm.controls['category'].errors">{{language.error_message.common_required}}</span>
                                        </span>
                                    </div>
                                    <div class="event_field" *ngIf="positionList.length > 0">
                                        <label>Position</label>
                                        <ng-multiselect-dropdown formControlName="position"
                                            [ngClass]="{ 'is-invalid': FAQSubmit && FAQForm.controls.position.errors }"
                                            [placeholder]="language.header.position"
                                            [settings]="positionDropdownSettings"
                                            [data]="positionList"
                                            (onSelect)="onPositionItemSelect($event)"
                                            (onDeSelect)="onPositionItemDeSelect($event)">
                                        </ng-multiselect-dropdown>
                        
                                        <span class="text-danger" *ngIf="FAQSubmit">
                                            <span *ngIf="FAQForm.controls['position'].errors">{{language.error_message.common_required}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="event_field task_area_field">
                                    <label>Description</label>
                                    <angular-editor formControlName="description" [config]=""></angular-editor>
                                    <span class="text-danger" *ngIf="FAQSubmit">
                                        <span *ngIf="FAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                    </span>
                                </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="event_field">
                                <label>Upload Document (Optional)</label>
                                <div class="event_upload news_pic_upload">
                                    <label class="preview_txt" style="display: none;"></label>
                                    <input type="file" (change)="uploadFile($event)" id="image">
                                    <span class="event_uplod_overlay">
                                        <label *ngIf="docErrorMsg && errorFile.isError" class="text-danger">{{language.create_message.file_size }}</label>
                                        <label *ngIf="imgErrorMsg && errorFile.isError" class="text-danger">{{language.create_message.image_size }}</label>
                                        <img class="preview_img" src="assets/img/event_upload.png">
                                    </span>
                                </div>
                                <!-- <span class="text-danger" *ngIf="FAQSubmit">
                                    <span *ngIf="FAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                </span> -->
                            </div>
                        </div>
                    
                        </div>
                    </div>
                    <div class="profile_sub_btn event_sub_btn ">
                        <button type="submit " class="save_btn">Save & Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="content" id="AllFAQ">
    <div class="row" *ngIf="allFaq != '' &&  allFaq != null "> 
        <div class="col-md-12 page-main">
            <div class="panel_heading">
                <h3>Vereins FAQs</h3>
            </div>
            <div class="all_btn_group btn_collapse">
                <div class="all_btn_group btn_collapse">
                    <div class="title-btn-group">
                        <button type="button" class="selected" routerLink="/vereins-faq"> All FAQ's</button>
                        <!-- <div class="show_more_btn"><a> -->
                            <button class="red_more_btn" (click)="backToVerein()" >Back</button>
                        <!-- </a></div> -->

                    </div>
                    <div class="title-btn-group right-btn-group">
                        <button type="button" class="disabled" routerLink="/create-faq"><img src="assets/img/Paper.svg">&nbsp;Create Faq</button>
                            <div>     
                        </div>
                    </div>
                </div>
            </div>
            <div class="search_area">
                <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                    <div class="input-group no-border">
                        <input type="text"  class="form-control" formControlName="search" placeholder="{{language.header.search}}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <button><i class="nc-icon nc-zoom-split"></i>Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- main content section start -->
            <div class="main-card">
                <!-- tab html start -->
                <!-- <div class="faq-accordion tab-content" id="searchId-two" *ngIf="searchData">           
                    <div class="m-4" id="tab1" > 
                        <div class="accordion" id="myAccordion" >
                                <div class="accordion-item" *ngFor="let item of searchData; let i = index"  >
                                    <h2 class="accordion-header" [attr.id]="'heading_'+ i"> 
                                            <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_'+i">
                                                <span>{{item.title}}</span>
                                            </a>
                                            <div class="faq-actions" *ngIf="userRole == 'admin'">
                                                <a data-bs-toggle="modal1" data-bs-target="#exModal1" (click)="editFAQById(item.id)">
                                                    <img src="../../assets/img/menu/edit.svg" />
                                                </a>
                                                <a (click)="deleteAFAQ(item.id)"><img src="../../assets/img/menu/trash.svg" /></a>
                                            </div>
                                    </h2>
                                    <div [attr.id]="'collapse_'+i" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                        <div class="card-body">
                                            <p>{{item.description}}</p>
                                            <div class="attach_btn ">
                                                <img src="../../../../assets/img/download_attach.svg"  >
                                                <a href="{{documentFile}}">{{language.create_event.view_attachment}} </a>
                                            </div>

                                        </div>
                                    </div> 
                                    
                                </div>
                        </div>
                        <div class="show_more_btn"><a><button class="red_more_btn" (click)="backToVerein()" >Back</button></a></div>
                    </div>
                </div>
                <div *ngIf="noSearchData == 1">
                    <h3>No FAQ's Available</h3>
                </div> -->
                <div class="faq-accordion tab-content" id="allfaqId" *ngIf="allFaq">           
                    <div class="m-4" id="tab1" > <!-- changes in id="tab1"-->
                        <div class="accordion" id="myAccordion" >
                                <div class="accordion-item" *ngFor="let item of allFaq; let i = index"  >
                                    <h2 class="accordion-header" [attr.id]="'heading_'+ i"> 
                                            <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_'+i">
                                                <span>{{item.title}}</span>
                                                <!-- <div [attr.id]="'collapse_'+i" class="category-action">
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </div>		 -->
                                            </a>
                                            <div class="faq-actions" *ngIf="userRole == 'admin'">
                                                <a data-bs-toggle="modal1" data-bs-target="#exModal1" (click)="editFAQById(item.id)">
                                                    <img src="../../assets/img/menu/edit.svg" />
                                                </a>
                                                <a (click)="deleteAFAQ(item.id)"><img src="../../assets/img/menu/trash.svg" /></a>
                                            </div>
                                    </h2>
                                    <div [attr.id]="'collapse_'+i" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                        <div class="card-body">
                                            <p>{{item.description}}</p>
                                            <!-- *ngIf="documentFile" -->
                                            <div class="attach_btn ">
                                                <img src="../../../../assets/img/download_attach.svg"  >
                                                <a href="{{documentFile}}">{{language.create_event.view_attachment}} </a>
                                                <!-- <a target="_blank" href="{{documentFile}}">
                                                    <i class="fa fa-download" aria-hidden="true"></i> {{language.create_event.view_attachment}}
                                                </a> -->
                                            </div>

                                        </div>
                                    </div> 
                                    
                                </div>
                        </div>
                        <div class="show_more_btn"><a><button class="red_more_btn" (click)="backToVerein()" >Back</button></a></div>
                    </div>
                </div>
                <!-- tab html end -->
            </div>
            <!-- main content section End -->
        </div>
    </div>
</div>
<div class="modal fade change_pass_section faq_edit all_news" id="exModal1" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <!-- <div id="profileSpinner" class="overlay__content"><span class="spinner"></span></div> -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="editFaq">Edit FAQ's</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal1" aria-label="Close"><i class="nc-icon nc-simple-remove"></i></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
                <form [formGroup]="FAQForm">
                    
                    <!-- profile header end -->
                    <!-- profile details data start -->
                    <div class="profile_details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="event_field">
                                    <label>Title</label>
                                    <input formControlName="title" type="text" placeholder="Add a Title">
                                    <span class="text-danger" *ngIf="FAQSubmit">
                                        <span *ngIf="FAQForm.controls['title'].errors">{{language.error_message.common_required}}</span>
                                    </span>
                                </div>
                                <div class="news-dropdown">
                                    <div class="event_field" *ngIf="catListArray.length > 0">
                                        <label>Select Category</label>
                                        <!-- <option selected="">Lorem Ipsum</option> -->
                                        <ng-multiselect-dropdown formControlName="category"
                                        [ngClass]="{ 'is-invalid': FAQSubmit && FAQForm.controls.category.errors }"
                                        [placeholder]="language.create_news.category"
                                        [settings]="categoryDropdownSettings"
                                        [data]="catListArray"
                                        (onSelect)="onCategoryItemSelect($event)"
                                        (onDeSelect)="onCategoryItemDeSelect($event)">
                                    </ng-multiselect-dropdown>
                                    
                                        <span class="text-danger" *ngIf="FAQSubmit">
                                            <span *ngIf="FAQForm.controls['category'].errors">{{language.error_message.common_required}}</span>
                                        </span>
                                    </div>
                                    <div class="event_field" *ngIf="positionList.length > 0">
                                        <label>Position</label>
                                        <ng-multiselect-dropdown formControlName="position"
                                            [ngClass]="{ 'is-invalid': FAQSubmit && FAQForm.controls.position.errors }"
                                            [placeholder]="language.header.position"
                                            [settings]="positionDropdownSettings"
                                            [data]="positionList"
                                            (onSelect)="onPositionItemSelect($event)"
                                            (onDeSelect)="onPositionItemDeSelect($event)">
                                        </ng-multiselect-dropdown>
                        
                                        <span class="text-danger" *ngIf="FAQSubmit">
                                            <span *ngIf="FAQForm.controls['position'].errors">{{language.error_message.common_required}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="event_field task_area_field">
                                    <label>Description</label>
                                    <angular-editor formControlName="description" [config]=""></angular-editor>
                                    <span class="text-danger" *ngIf="FAQSubmit">
                                        <span *ngIf="FAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                    </span>
                                </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="event_field">
                                <label>Upload Document (Optional)</label>
                                <div class="event_upload news_pic_upload">
                                    <label class="preview_txt" style="display: none;"></label>
                                    <input type="file" (change)="uploadFile($event)" id="image">
                                    <span class="event_uplod_overlay">
                                        <label *ngIf="docErrorMsg && errorFile.isError" class="text-danger">{{language.create_message.file_size }}</label>
                                        <label *ngIf="imgErrorMsg && errorFile.isError" class="text-danger">{{language.create_message.image_size }}</label>
                                        <img class="preview_img" src="assets/img/event_upload.png">
                                    </span>
                                </div>
                                <!-- <span class="text-danger" *ngIf="FAQSubmit">
                                    <span *ngIf="FAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                </span> -->
                            </div>
                        </div>
                    
                        </div>
                    </div>
                    <div class="profile_sub_btn event_sub_btn ">
                        <button type="submit " (click)="editAFAQ()" class="save_btn">Save & Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="content" id="searchId">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="panel_heading">
                <h3>Vereins FAQs</h3>
            </div>
            <div class="all_btn_group btn_collapse">
                <div class="all_btn_group btn_collapse">
                    <div class="title-btn-group">
                        <!-- <button type="button" class="selected">Faqs</button>
                        <button type="button" class="disabled" routerLink="/faq-category">Faq Category</button> -->
                        <button type="button" class="disabled" routerLink="/all-faq">FAQ's</button>
                    </div>
                    <div class="title-btn-group right-btn-group">
                        <button type="button" class="disabled" routerLink="/create-faq"><img src="assets/img/Paper.svg">&nbsp;Create Faq</button>
                            <div>     
                        </div>
                    </div>
                </div>
            </div>
            <!-- main content section start -->
            <div class="main-card">
                <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
                <div class="faq-accordion tab-content"  *ngIf="searchData">           
                    <div class="m-4" id="tab1" > <!-- changes in id="tab1"-->
                        <div class="accordion" id="myAccordion" >
                                <div class="accordion-item" *ngFor="let item of searchData; let i = index"  >
                                    <h2 class="accordion-header" [attr.id]="'heading_'+ i"> 
                                            <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_'+i">
                                                <span>{{item.title}}</span>
                                                <!-- <div [attr.id]="'collapse_'+i" class="category-action">
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </div>		 -->
                                            </a>
                                            <div class="faq-actions" *ngIf="userRole == 'admin'">
                                                <a data-bs-toggle="modal1" data-bs-target="#exModal1" (click)="editFAQById(item.id)">
                                                    <img src="../../assets/img/menu/edit.svg" />
                                                </a>
                                                <a (click)="deleteAFAQ(item.id)"><img src="../../assets/img/menu/trash.svg" /></a>
                                            </div>
                                    </h2>
                                    <div [attr.id]="'collapse_'+i" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                        <div class="card-body">
                                            <p>{{item.description}}</p>
                                            <!-- *ngIf="documentFile" -->
                                            <div class="attach_btn ">
                                                <img src="../../../../assets/img/download_attach.svg"  >
                                                <a href="{{documentFile}}">{{language.create_event.view_attachment}} </a>
                                                <!-- <a target="_blank" href="{{documentFile}}">
                                                    <i class="fa fa-download" aria-hidden="true"></i> {{language.create_event.view_attachment}}
                                                </a> -->
                                            </div>
                
                                        </div>
                                    </div> 
                                    
                                </div>
                        </div>
                        <div class="show_more_btn"><a><button class="red_more_btn" (click)="backToFaq()" >Back</button></a></div>
                    </div>
                    <div *ngIf="noSearchData == 1">
                        <h3>No FAQ's Available</h3>
                    </div>
                </div>
            </div>
            <!-- main content section End -->
        </div>
    </div>
</div>

