.vc-custom-button {
  //padding: 12px 24px;
  height: 45px;
  width: 149px;
  border-radius: 13px;
  font-weight: 600;
  align-items: center;
  font-size: 14px;
  color: var(--vc-color-white);
  text-align: center;
  font-style: normal;
  display: inline-block;
}
