<button
  [disabled]="disabled"
  [ngStyle]="inlineStyle"
  [style.background-color]="backgroundColor"
  [style.border-bottom-left-radius]="borderBottomLeftRadius"
  [style.border-bottom-right-radius]="borderBottomRightRadius"
  [style.border-color]="borderColor"
  [style.border-top-left-radius]="borderTopLeftRadius"
  [style.border-top-right-radius]="borderTopRightRadius"
  [style.border]="border"
  [style.bottom]="positionBottom"
  [style.color]="color"
  [style.font-size]="fontSize"
  [style.height]="height"
  [style.left]="positionLeft"
  [style.position]="positionStyle"
  [style.right]="positionRight"
  [style.top]="positionTop"
  [style.width]="width"
  class="vc-custom-button"
>
  {{ label }}
</button>
