<div class="wrapper ">

    <app-menu></app-menu>
    <div class="main-panel">
        <!-- Navbar -->
        <app-header></app-header>
        <!-- End Navbar -->
        <!-- Main content -->
        <router-outlet></router-outlet>
        <!-- <app-dashboard></app-dashboard> -->
        <!-- Main content ENDS -->
    </div>
</div>

<div  *ngIf ="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>