/*create group css start*/
.parti_name {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #4fb96d;
    border-radius: 50%;
    margin-right: 15px;
}
.event_field select {
    width: 100%;
    height: 60px;
    background: #FAFBFC;
    border: 1px solid #EDF0F3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
}
.app-left-content {
    align-items: center;
}
.col-md-6.all_participants .card {
    box-shadow: none;
}
.group_edit_btn i {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #192838;
}
.create_group {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.group_edit_btn {
    position: absolute;
    top: 15px;
    right: 0px;
}

.group_edit_btn a:first-child {
    background: #4fb96d;
    color: #fff;
}
.group_edit_btn a:first-child i {
    color: #fff;
}
.group_edit_btn a:nth-child(2) {
    background: #E12217;
    color: #fff;
}
.group_edit_btn a:nth-child(2) i {
    color: #fff;
}
.create_group_img{
    height: auto;
    overflow: hidden;
    object-fit: cover;
}
.create_group .user-pic-inner {
    margin-top: 0;
}
.create_group .user-upload-btn i {
    position: relative;
    top: -2px;
}
.group_edit_btn a {
    width: 48px;
    height: 48px;
    display: inline-flex;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
}
button.save_btn.create_btn {
    width: auto;
    background: #4fb96d;
    border: 1px solid #4fb96d;
    padding: 10px 20px;
}
span.participant_status span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 5px;
}
span.participant_status span.approved{
  background:#4fb96d;
}
span.participant_status span.pending {
    background: #fbc61a;
}
span.participant_status span.cancelled {
    background: #E12217;
}
.group_edit_btn img {
    width: 30px;
    height: 30px;
    margin: 8px 0px;
}
a.edit_btn {
    background: #e4b51a !important;
}
.profile_title{
    font-size: 24px;
    margin-top: 0;
}
.widget-app-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 4px 1px #eaeaff;
}
@media only screen and (max-width: 1260px) and (min-width: 1025px){
.widget-app-content {
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 20px;
}
.app-right-content {
    float: right;
}
}
@media only screen and (max-width: 1024px){
.col-md-12.add_event_content.create_group_section .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
}
}
@media only screen and (max-width: 767px){
.col-md-6.all_participants .card-body {
    padding: 0;
}
.widget-app-content {
    display: flex;
    width: 100%;
}
.profile_main_head {
    margin-bottom: 0;
}
.profile_title{
    margin:0px;
}
}
@media only screen and (max-width: 500px){
.all_participants .user-content {
    padding-top: 6px;
    color: #192838;
    width: 227px;
    float: left;
}
.app-right-content {
    float: right;
}
}
@media only screen and (max-width: 320px){
.all_participants .user-content {
    width: 192px;
}
}

@media only screen and (max-width: 600px){
    .widget-app-content {
    display: inline-block;
    width: 100%;
}
}
.user-content {
    padding-top: 0px;
}