<div class="card ">
    <div class="card-header ">
        <h5 class="card-title">{{language.group_news.title}}</h5>
    </div>
    <div class="card-body news-group-card" *ngIf="role!='guest'">

        <div class="empty-data-image" *ngIf="groupNewsData == ''"><img src="assets/img/no-news-img.png"><br><span>{{language.group_news.no_news}}</span> </div>
        <!-- group news inner -->
        <div class="widget-group-main">
            <div class="widget-group-news widget" *ngFor='let data of groupNewsData'>
                <div class="widget-gn-content" data-bs-toggle="modal" data-bs-target="#exModal1" (click)="getNewsDetails(data.news.id)">
                    <div class="gn-left">
                        <img *ngIf="data.news.imageUrls!= null" src="{{data.news.imageUrls}}">
                        <img *ngIf="data.news.imageUrls == null" src="../../assets/img/no_image.png">
                    </div>
                    <div class="gn-right">
                        <span class="group-name"><!--{{language.group_news.club}} > -->{{data.group['name']}}</span>
                        <!-- <a routerLink="/clubnews/{{data.news.id}}"> -->
                            <h5 [innerHTML]="data.news.title"></h5>
                        <!-- </a> -->
                        <p class="news-content-text" [innerHTML]="data.news.text"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- group news inner end -->
    </div>
    <div class="card-body news-group-card" *ngIf="role == 'guest'">
        <div class="empty-data-image" *ngIf="guestGroupNews ==  ''"><img src="assets/img/no-news-img.png"><br><span>{{language.group_news.no_news}}</span></div>
        <!-- group news inner -->
        <div class="widget-group-main">
            <div class="widget-group-news widget" *ngFor='let data of guestGroupNews'>
                <div class="widget-gn-content"  data-bs-toggle="modal" data-bs-target="#exModal1" (click)="getNewsDetails(data.news.id)">
                    <div class="gn-left">
                        <img *ngIf="data.news.imageUrls!= null" src="{{data.news.imageUrls}}">
                        <img *ngIf="data.news.imageUrls == null" src="../../assets/img/no_image.png">
                    </div>
                    <div class="gn-right">
                        <span class="group-name">{{language.group_news.club}} >{{data.group['name']}}</span>
                        <!-- <a routerLink="/clubnews/{{data.news.id}}"> -->
                            <h5 [innerHTML]="data.news.title"></h5>
                        <!-- </a> -->
                        <p class="news-content-text" [innerHTML]="data.news.text"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- group news inner end -->
    </div>

    <div  class="modal fade change_pass_section news_detail_popup all_news" id="exModal1" tabindex="-1" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog"> 
            <!-- <div id="profileSpinner" class="overlay__content"><span class="spinner"></span></div> -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="nc-icon nc-simple-remove"></i></button>
                </div>
                <div class="modal-body" >          
                    <div class="n-detail-main">
                        <div class="news_details_main">
                            <div class="row">
                                <div class="col-md-12 news_detail_inner">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- news details data start -->
                                            <div class="news_details" *ngIf="newsData">
                                                <div class="">
                                                    <div class="news_content col-md-12">
                                                        <div class="news_image">
                                                            <app-image-viewer *ngIf="imageUrls" [imageURL]="imageUrls" [open]="viewImage" (close)="viewImage = false"></app-image-viewer>
                                                            <div class="news_image_container" (click)="viewImage=true">
                                                                <!-- <img src="{{newsData.imageUrls}}"> -->
                                                                <img [src]="newsData.imageUrls ? newsData.imageUrls : '../../assets/img/no_image.png'">
                                                            </div>
                                                        </div>
                                                        <!--Remove the tag-->
                                                        <div class="news_heading">
                                                            <h2>{{newsData.title}}</h2>
                                                        </div>
                                                        <div class="news_content_text" [innerHTML]="newsData.text">...<a href="#">{{language.dashboard.dashboardNewsContent}}</a></div>
                                                        <div class="author-info">                                                             
                                                            <div  class="author-img" >
                                                                <img *ngIf="thumbnail == null"  src="assets/img/defaultProfile.jpeg">
                                                                <img *ngIf="thumbnail != null"  [src]="thumbnail" style="width: 100px;">
                                                            </div>                                                           
                                                            <div class="author-des">
                                                                <span class="author-id" >
                                                                    {{language.dashboard.dashboardNewsAuthor}} {{newsData.user.firstname}}  {{newsData.user.lastname}}
                                                                </span>
                                                                <span class="author-date">{{newsData.created_at | date: 'd MMM y'}}</span>
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- news details data End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
     
</div>

