<div class="content">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="panel_heading">
                <h3>Vereins FAQs</h3>
            </div>
            <div class="all_btn_group btn_collapse">
                <div class="all_btn_group btn_collapse">
                    <div class="title-btn-group">
                        <!-- <button type="button" class="disabled" routerLink="/vereins-faq">Faqs</button>
                        <button type="button" class="disabled" routerLink="/faq-category">Faq Category</button> -->
                        <button type="button" class="selected"> All FAQ's</button>
                    </div>  
                    <!-- <div class="title-btn-group right-btn-group">
                        <button type="button" class="disabled" routerLink="/create-category"><img
                                src="assets/img/Paper.svg">&nbsp;Create Category</button>
                    </div> -->
                </div>
            </div>
            <!-- main content section start -->
            <!-- <mat-tab-group *ngFor="let cat of Category.category_List; let i = index">
                <div></div>
                    <mat-tab label="cat.name">Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
              </mat-tab-group> -->
              
            <!-- <div class="feature_tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item " *ngFor="let cat of Category.category_List; let i = index">
                        <a class="nav-link" data-toggle="tab" id="tabs-{{i}}" role="tab"
                            (click)="catDataById(cat.id)">{{cat.name}}</a>
                    </li>
                </ul>
            </div> -->
            <div class="main-card">

                <div class="category-listing" *ngFor="let item of FAQ.category_Name;">
                    <!-- listing-list-start -->
                    <div class="category-list">
                        <div class="category-content">
                            <!-- <h5>{{item.question}}</h5> -->
                            <p>{{item.question}}</p>
                        </div>
                        <div class="category-action">
                            <a data-bs-toggle="modal" data-bs-target="#exModal" (click)="editFAQById(item.id)"><img
                                    src="../../assets/img/menu/edit.svg" /></a>
                            <a (click)="deleteFAQ(item.id)"><img src="../../assets/img/menu/trash.svg" /></a>
                        </div>
                    </div>
                    <!-- listing-list-end -->
                </div>
            </div>

            <!-- main content section End -->
        </div>
    </div>
</div>
<div class="modal fade change_pass_section faq_edit all_news" id="exModal" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <!-- <div id="profileSpinner" class="overlay__content"><span class="spinner"></span></div> -->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Edit FAQ</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="nc-icon nc-simple-remove"></i></button>
            </div>
            <div class="modal-body">
                <!-- <div class="card">
                    <div class="card-body p-20"> -->
                        <!-- profile header start -->
                        <!-- <div class="profile_main_head">
                            <div class="profile_title">Create Faqs</div>
                        </div> -->
                        <form [formGroup]="editFAQForm" (ngSubmit)='EditFAQ()'>
                            <!-- profile header end -->
                            <!-- profile details data start -->
                            <div class="profile_details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="event_field">
                                            <label>Title</label>
                                            <input formControlName="title" type="text" placeholder="Add a Title">
                                            <span class="text-danger" *ngIf="FAQSubmit">
                                                <span *ngIf="editFAQForm.controls['title'].errors">{{language.error_message.common_required}}</span>
                                            </span>
                                        </div>
                                        <div class="news-dropdown">
                                            <div class="event_field">
                                                <label>Category</label>
                                                <ng-multiselect-dropdown formControlName="selectedCategory"
                                                    [ngClass]="{ 'is-invalid': FAQSubmit && editFAQForm.controls.selectedCategory.errors }"
                                                    [placeholder]="language.create_news.category"
                                                    [settings]="categoryDropdownSettings" [data]="catListArray"
                                                    (onSelect)="onCategoryItemSelect($event)"
                                                    (onDeSelect)="onCategoryItemDeSelect($event)">
                                                </ng-multiselect-dropdown>

                                                <span class="text-danger"
                                                    *ngIf="FAQSubmit">
                                                    <span
                                                        *ngIf="editFAQForm.controls['selectedCategory'].errors">{{language.error_message.common_required}}</span>
                                                </span>
                                            </div>
                                            <div class="event_field">
                                                <label>Position</label>
                                                <ng-multiselect-dropdown formControlName="position"
                                                    [ngClass]="{ 'is-invalid': editFAQForm && editFAQForm.controls.position.errors }"
                                                    [placeholder]="language.header.position"
                                                    [settings]="positionDropdownSettings"
                                                    [data]="positionList"
                                                    (onSelect)="onPositionItemSelect($event)"
                                                    (onDeSelect)="onPositionItemDeSelect($event)">
                                                </ng-multiselect-dropdown>

                                                <span class="text-danger"
                                                    *ngIf="FAQSubmit">
                                                    <span
                                                        *ngIf="editFAQForm.controls['position'].errors">{{language.error_message.common_required}}</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="event_field task_area_field">
                                            <label>Description</label>
                                            <angular-editor formControlName="description" [config]=""></angular-editor>
                                            <span class="text-danger"
                                                *ngIf="FAQSubmit">
                                                <span
                                                    *ngIf="editFAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                            </span>
                                            <!-- <textarea placeholder="Write your content"></textarea> -->
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="event_field">
                                            <label>Upload Document (Optional)</label>
                                            <div class="event_upload news_pic_upload">
                                                <label class="preview_txt" style="display: none;"></label>
                                                <input type="file" (change)="uploadFile($event)" id="add_docImg">
                                                <span class="event_uplod_overlay">
                                                    <label *ngIf="docErrorMsg && errorFile.isError"
                                                        class="text-danger">{{language.create_message.file_size
                                                        }}</label>
                                                    <label *ngIf="imgErrorMsg && errorFile.isError"
                                                        class="text-danger">{{language.create_message.image_size
                                                        }}</label>
                                                    <img class="preview_img" src="assets/img/event_upload.png">
                                                </span>
                                            </div>
                                            <!-- <span class="text-danger" *ngIf="FAQSubmit">
                                            <span *ngIf="editFAQForm.controls['description'].errors">{{language.error_message.common_required}}</span>
                                        </span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile details data End -->
                            <div class="profile_sub_btn event_sub_btn ">
                                <button type="button " class="Cancel_btn ">Cancel</button>
                                <button type="submit " class="save_btn ">Save & Update</button>
                            </div>
                        </form>
                    <!-- </div>
                </div> -->
            </div>

        </div>
    </div>
</div>