.text-box-cont input[type="checkbox"] {
    margin-right: 5px;
    position: relative;
    top: 1px;
}

@media (min-width: 1024px) {
    .icon {
        display: none;
    }
}
@media (max-width: 767px) {
    .login-content {
        padding-top: 30px;
    }
    .mobile-hidden {
        display: none;
    }
    .login-unput-feed .icon {
        position: absolute;
        top: 50%;
        right: 22px;
        width: 24px;
        height: 24px;
        overflow: hidden;
        transform: translate(0, -50%);
    }
    .login-unput-feed {
        position: relative;
    }

    .login-logo img {
        width: 96px;
    }
}
.alert.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #f55564;
    width: 100%;
}
.overlay {
    width: 100%;
}

.overlay__inner {
    width: 100%;
}
