<div class="login-page">
  <div class="container-fluid">
    <div class="row no-margin">
      <div class="col-sm-12 no-padding login-box">
        <div class="row no-margin w-100">
          <div class="col-lg-6 col-md-6 box-de">
            <div class="login-content">
              <div class="login-logo">
                <img onContextMenu="return false;" src="assets/img/logo.png" alt="logo" loading="lazy" />
              </div>
              <div class="login-heading">
                <h2>
                  {{ language.recoverPassword.loginHeading }}
                </h2>
              </div>
              <div class="login-con">
                <p>{{ language.recoverPassword.loginDesc }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 log-det">
            <div class="login-content">
              <div class="login-logo">
                <img onContextMenu="return false;" src="assets/img/brand_img_m.png" alt="logo" loading="lazy" />
              </div>
              <div class="login-con">
                <p>{{ language.recoverPassword.loginDesc }}</p>
              </div>
            </div>
            <form class="login-form" [formGroup]="forgotForm" (ngSubmit)="forgotProcess()">
              <h2>
                {{ language.recoverPassword.passwordHeading }}
              </h2>
              <div class="text-box-cont">
                <label class="error alert alert-danger" *ngIf="validError">{{ formError }}</label>
                <label class="error alert alert-success" *ngIf="successMsg">{{ language.recoverPassword.successMsg }}</label>
                <div class="input-group" *ngIf="!successMsg">
                  <label class="mobile-hidden">{{ language.recoverPassword.userName }}</label>
                  <div class="login-unput-feed">
                    <input type="text" class="form-control" placeholder="Username" formControlName="username" aria-label="Username" aria-describedby="basic-addon1" />
                    <div class="icon">
                      <img onContextMenu="return false;" src="assets/img/Email_Icon.png" alt="logo" loading="lazy" />
                    </div>
                  </div>
                  <span class="error" *ngIf="forgotSubmit && forgotForm.controls['username'].errors">{{ language.recoverPassword.userNameError }}</span>
                </div>
                <div class="input-group center mb-3" *ngIf="!successMsg">
                  <button
                    class="btn btn-success"
                    [ngStyle]="{
                      'border-color': button_bgcolor,
                      'background-color': button_bgcolor,
                      color: button_ic_color
                    }"
                  >
                    {{ language.recoverPassword.submit }}
                  </button>
                </div>
                <div class="signup_link">
                  <p>
                    {{ language.recoverPassword.backTo }}&nbsp;<a routerLink="/login">{{ language.recoverPassword.signIn }}</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>
